<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Tickets" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Perfil" tabIcon="contact"></ion-tab>
</ion-tabs>
